- page_title '系统钩子'
.row.prepend-top-default
  .col-lg-4
    %h4.prepend-top-0
      = page_title
    %p
  #{link_to '系统钩子 ', help_page_path('system_hooks/system_hooks'), class: 'vlink'} 可用于
  绑定 GitLab 创建用户或项目的事件。

  .col-lg-8.append-bottom-default
    = form_for @hook, as: :hook, url: admin_hooks_path do |f|
  = render partial: 'form', locals: { form: f, hook: @hook }
    = f.submit '增加系统钩子', class: 'btn btn-create'

%hr

- if @hooks.any?
  .panel.panel-default
    .panel-heading
      系统钩子 (#{@hooks.count})
    %ul.content-list
      - @hooks.each do |hook|
        %li
          .controls
            = render 'shared/web_hooks/test_button', triggers: SystemHook.triggers, hook: hook, button_class: 'btn-sm'
            = link_to '编辑', edit_admin_hook_path(hook), class: 'btn btn-sm'
            = link_to '删除', admin_hook_path(hook), data: { confirm: '您确定要删除这个钩子？' }, method: :delete, class: 'btn btn-remove btn-sm'
          .monospace= hook.url
          %div
            - SystemHook.triggers.each_value do |event|
              - if hook.public_send(event)
                %span.label.label-gray= event.to_s.titleize
                %span.label.label-gray SSL Verification: #{hook.enable_ssl_verification ? 'enabled' : 'disabled'}

= render 'shared/plugins/index'
