- service = chat_name.service
- project = service.project
%tr
  %td
    %strong
      - if can?(current_user, :read_project, project)
        = link_to project.full_name, project_path(project)
      - else
        .light N/A
  %td
    %strong
      - if can?(current_user, :admin_project, project)
        = link_to service.title, edit_project_service_path(project, service)
      - else
        = service.title
  %td
    = chat_name.team_domain
  %td
    = chat_name.chat_name
  %td
    - if chat_name.last_used_at
      = time_ago_with_tooltip(chat_name.last_used_at)
    - else
      永不

  %td
    = link_to '删除', profile_chat_name_path(chat_name), method: :delete, class: 'btn btn-danger pull-right', data: { confirm: '你确定要撤销这个昵称？' }
