  - if @domain.errors.any?
    #error_explanation
      .alert.alert-danger
        - @domain.errors.full_messages.each do |msg|
          %p= msg

  .form-group
    = f.label :domain, class: 'control-label' do
      域名
    .col-sm-10
    = f.text_field :domain, required: true, autocomplete: 'off', class: 'form-control', disabled: @domain.persisted?

  - if Gitlab.config.pages.external_https
    .form-group
      = f.label :certificate, class: 'control-label' do
        证书 (PEM)
      .col-sm-10
        = f.text_area :certificate, rows: 5, class: 'form-control'
        %span.help-inline Upload a certificate for your domain with all intermediates

    .form-group
      = f.label :key, class: 'control-label' do
        Key (PEM)
      .col-sm-10
        = f.text_area :key, rows: 5, class: 'form-control'
        %span.help-inline Upload a private key for your certificate
  - else
    .nothing-here-block
      自定义证书已禁用
      请联系您的系统管理员启用该功能。
