- add_to_breadcrumbs "Pages", project_pages_path(@project)
- breadcrumb_title @domain.domain
- page_title "#{@domain.domain}", '网页域名'

- verification_enabled = Gitlab::CurrentSettings.pages_domain_verification_enabled?
- if verification_enabled && @domain.unverified?
  %p.alert.alert-warning
    %strong
      This domain is not verified. You will need to verify ownership before
      access is enabled.

%h3.page-title
  网页域名
  = link_to 'Edit', edit_project_pages_domain_path(@project, @domain), class: 'btn btn-success pull-right'

.table-holder
  %table.table
    %tr
      %td
        域名
      %td
        = link_to @domain.domain, @domain.url
    %tr
      %td
        DNS
      %td
        %p
          To access this domain create a new DNS record:
        %pre
          #{@domain.domain} CNAME #{@domain.project.pages_subdomain}.#{Settings.pages.host}.
    - if verification_enabled
      %tr
        %td
          Verification status
        %td
          %p
            - help_link = help_page_path('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')
            To #{link_to 'verify ownership', help_link} of your domain, create
            this DNS record:
          %pre
            #{@domain.verification_domain} TXT #{@domain.keyed_verification_code}
          %p
            - if @domain.verified?
              #{@domain.domain} has been successfully verified.
            - else
              = button_to 'Verify ownership', verify_project_pages_domain_path(@project, @domain), class: 'btn btn-save btn-sm'

    %tr
      %td
        证书
      %td
        - if @domain.certificate_text
          %pre
            = @domain.certificate_text
        - else
          .light
            丢失
